#canvas,
#canvasImg,
#btnClassify,
#btnClear {
  position: absolute;
}

#canvas {
  border: 8px solid;
  left: 10px;
  top: 70px;
}

#canvasImg {
  display: none;
  left: 18px;
  top: 78px;
}

#btnClassify,
#btnClear {
  top: 380px;
  width: 80px;
}

#btnClassify {
  left: 10px;
}

#btnClear {
  left: 100px;
}
